# Univariate Selection

In [3]:
# Feature Extraction with Univariate Statistical Tests (Chi-squared for classification)
import pandas as pd
import numpy

# load data
url = "https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.data.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']
df = pd.read_csv(url, names=names)
array = df.values
X = array[:,0:8]
Y = array[:,8]
print(df.shape)
df.head()

(768, 9)

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

In [19]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
# feature extraction
test = SelectKBest(score_func=chi2, k=4)
fit = test.fit(X, Y)
# summarize scores
numpy.set_printoptions(precision=3)
print(fit.scores_)

[ 111.52  1411.887   17.605   53.108 2175.565  127.669    5.393  181.304]

In [20]:
features = fit.transform(X)
df= pd.DataFrame(features)
df.head()

       0      1     2     3
0  148.0    0.0  33.6  50.0
1   85.0    0.0  26.6  31.0
2  183.0    0.0  23.3  32.0
3   89.0   94.0  28.1  21.0
4  137.0  168.0  43.1  33.0

# Recursive Feature Elimination

In [22]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
# feature extraction
model = LogisticRegression()
rfe = RFE(model, 3)
fit = rfe.fit(X, Y)
print( ("Num Features: %d") % fit.n_features_ )
print( ("Selected Features: %s") % fit.support_ )
print( ("Feature Ranking: %s") % fit.ranking_ )

Num Features: 3
Selected Features: [ True False False False False  True  True False]
Feature Ranking: [1 2 3 5 6 1 1 4]

# Principal Component Analysis

In [4]:
from sklearn.decomposition import PCA

pca = PCA(n_components=3)
principalComponents = pca.fit_transform(X)

df = pd.DataFrame(data = principalComponents
             , columns = ['principal component 1', 'principal component 2', 'principal component 3'])
df.head()

   principal component 1  principal component 2  principal component 3
0             -75.714655             -35.950783              -7.260789
1             -82.358268              28.908213              -5.496671
2             -74.630643             -67.906496              19.461808
3              11.077423              34.898486              -0.053018
4              89.743788              -2.746937              25.212859

# Feature Importance

In [26]:
from sklearn.ensemble import ExtraTreesClassifier

model = ExtraTreesClassifier()
model.fit(X, Y)
print(model.feature_importances_)

[0.116 0.215 0.094 0.08  0.076 0.146 0.129 0.144]

# L1-based feature selection

In [33]:
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel

lsvc = LinearSVC(C=0.01, penalty="l1", dual=False).fit(X, Y)
model = SelectFromModel(lsvc, prefit=True)
X_new = model.transform(X)
df= pd.DataFrame(X_new)
df.head()

     0      1     2     3      4     5     6
0  6.0  148.0  72.0  35.0    0.0  33.6  50.0
1  1.0   85.0  66.0  29.0    0.0  26.6  31.0
2  8.0  183.0  64.0   0.0    0.0  23.3  32.0
3  1.0   89.0  66.0  23.0   94.0  28.1  21.0
4  0.0  137.0  40.0  35.0  168.0  43.1  33.0

# FactorAnalysis (FA)

In [5]:
from sklearn.datasets import load_digits
from sklearn.decomposition import FactorAnalysis
X, _ = load_digits(return_X_y=True)
X.shape

(1797, 64)

In [6]:
transformer = FactorAnalysis(n_components=7, random_state=0)
X_transformed = transformer.fit_transform(X)
X_transformed.shape

(1797, 7)